node_modules/
client/node_modules/
client/build/
database/*.db
.env

# Firebase service account key (NEVER commit this)
server/firebase/serviceAccountKey.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc


# venv
.venv

# env keys 
.env

*.db-wal
*.db-shm